body > .container 
{ 
	padding-bottom: 70px; 
}

.navigation-container
{
	background-image: url("../img/header.jpg") !important;
    background-repeat: repeat-x;
}

.jumbotron
{
	background-color: transparent !important;
}



